* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cairo', sans-serif;
}

header {
	/*height: 80px;*/
	
	background-color: #28a3a3;
	padding: 20px 12px 12px 12px;
}

.navRow {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.hamburger {

}

.navLinksList {
	display: none;
}

.navLogo {
	font-family: 'Marvel', sans-serif;
	/*color: ;*/
	font-size: 1.3em;
}

.navLink {
	padding: 0 8px;
}

.navAddTestIcon {
	margin-top: -8px;
	font-size: 1.5em;
	/*visibility: hidden;*/
}

.dropDownMenu {
	display: flex;
	flex-flow: column wrap;
	margin-left: 16px;
}

main {
	margin: 12px;
}

a:link,
a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #000000;
}

.hidden {
	display: none;
}

.hidden2 {
	visibility: hidden;
}

.fullHeight {
	height: 100vh;
}

@media (min-width: 768px) {

	.navRow {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.hamburger {
		display: none;
	}

	.logo {

	}

	.navLogo {
		padding-right: 24px;
	}

	.navLinksList {
		display: flex;
	}

	.navLink {
		padding: 0 16px;
	}

	.navAddTestIcon,
	.dropDownMenu {
		display: none;
	}

}

@media (min-width: 992px) {

}

