
/* TestSummary */

.testSummary {
	/*color: #4c4c4c;*/
}

.testSummaryHeading {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.countdownDisplay {
	background-color: #93d78b;
	border-radius: 5px;
	padding: 5px;
}

.countdownAlarm {
	background-color: #d97f7f;
}

.question {
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px dashed #52b5b5;
}

.question:last-of-type {
	margin-bottom: 16px;
}

.questionStatusIconClass {
	font-size: 1.2em;
	padding: 0 5px 0 10px;
}

.btnTestSummary {
	margin-top: 8px;
}

.btnTestSummaryBack {
	text-align: center;
	margin-top: 16px;
}

/* Question Detail */

.btnQuestion {
	margin-right: 8px;
}

/* All Tests list */

.test {
	border: 1px dashed #52b5b5;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 5px;
}

.testsListDetail {
	list-style: none;
}

.testName {
	font-size: 1.2em;
}

